:javascript
  PNotify.prototype.options.styling = "bootstrap3";
  $(document).ready(function() {
    loadDevicesList();
  });
  $(window).load(function() {
    setMarginOfContent();
  });
  $(window).on('resize', function() {
    setMarginOfContent();
  });
  function setMarginOfContent() {
    $('.container-fluid').css('marginTop', $('.top-banner').height());
  }
  function showNotification(text, type) {
    new PNotify({
      type: type,
      title: false,
      text: text,
      icon: true,
      shadow: true,
      animation: 'fade',
      animate_speed: 'slow',
      delay: 2000,
      remove: true
    });
  }
  function loadDevicesList() {
    $.get('/api/devices', function(data) {
      $("#devicesList").empty();
      if (data.length > 0) {
        $("#devicesList").append($("<table>").attr("class", "table table-striped table-hover").append($("<thead>").append($("<tr>").append($("<td>").text("")).append($("<td>").text("Serial Number")).append($("<td>").text("Manufacturer")).append($("<td>").text("Brand")).append($("<td>").text("Model")).append($("<td>").text("OS Version")).append($("<td>").text("SDK API Level")).append($("<td>").text("Battery")))).append($("<tbody>")));
        data.forEach(function(item) {
          $("#devicesList").find("tbody").append($("<tr>").click(function() { $(this).find("td input:radio").prop("checked", true); }).append($("<td>").append($("<input>").attr({name: "device_sn", type: "radio", value: item.sn}))).append($("<td>").text(item.sn)).append($("<td>").text(item.manufacturer)).append($("<td>").text(item.brand)).append($("<td>").text(item.model)).append($("<td>").text(item.release)).append($("<td>").text(item.sdk)).append($("<td>").text(item.battery + "%")));
        });
      }
    });
  }
%div{:class => "vertical-center"}
  %h2{:class => "vertical-center", :style => "display: inline-block;"} Devices List
  %button{:type => "button", :class => "btn btn-warning vertical-center", :onclick => "loadDevicesList()", :style => "display: inline-block; margin-left: 10px;"} ↻
%form{:role => "form", :action => "/devices/", :method => "post"}
  %div{:id => "devicesList"}
