!!! 5
%html{:lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    %script{ :src => '/plugins/jquery/jquery-1.11.1.min.js' }
    %script{ :src => '/plugins/bootstrap/js/bootstrap.min.js' }
    %link{ :href => '/plugins/bootstrap/css/bootstrap.min.css', :rel => 'stylesheet' }
    %link{ :href => '/my/css/style.css', :rel => 'stylesheet' }
    - if defined? @use_jquery_ui
      %script{ :src => '/plugins/jquery/jquery-ui.min.js' }
      %link{ :href => '/plugins/jquery/jquery-ui.css', :rel => 'stylesheet' }
    - if defined? @use_pnotify
      %script{ :src => '/plugins/pnotify/pnotify.custom.min.js' }
      %link{ :href => '/plugins/pnotify/pnotify.custom.min.css', :rel => 'stylesheet', :media => 'all' }
    %title Mobile Device Pool
    %link{ :rel => 'icon', :href => '/img/favicon.png' }
  %body
    %header{:class => "top-banner"}
      %div{:class => "top-banner-logo"}
        %a{:href => "/"}
          %img{:src => "img/banner.png"}
      %div{:class => "top-banner-text"}
        %h1 Mobile Device Pool
    %div{:class => "container-fluid"}
      = yield